/*Custom Input for upload files */
.upload-file-container .dropzone {
    background-color: #f0f0f5;
    border-radius: 5px;
    padding: 6rem 1rem;
    outline: 2px dashed #dbdbe2;
    outline-offset: -10px;
    background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='upload' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='svg-inline--fa fa-upload fa-w-16' style=' color: %23149dd9;%0A'%3E%3Cpath fill='currentColor' d='M452 432c0 11-9 20-20 20s-20-9-20-20 9-20 20-20 20 9 20 20zm-84-20c-11 0-20 9-20 20s9 20 20 20 20-9 20-20-9-20-20-20zm144-48v104c0 24.3-19.7 44-44 44H44c-24.3 0-44-19.7-44-44V364c0-24.3 19.7-44 44-44h124v-99.3h-52.7c-35.6 0-53.4-43.1-28.3-68.3L227.7 11.7c15.6-15.6 40.9-15.6 56.6 0L425 152.4c25.2 25.2 7.3 68.3-28.3 68.3H344V320h124c24.3 0 44 19.7 44 44zM200 188.7V376c0 4.4 3.6 8 8 8h96c4.4 0 8-3.6 8-8V188.7h84.7c7.1 0 10.7-8.6 5.7-13.7L261.7 34.3c-3.1-3.1-8.2-3.1-11.3 0L109.7 175c-5 5-1.5 13.7 5.7 13.7H200zM480 364c0-6.6-5.4-12-12-12H344v24c0 22.1-17.9 40-40 40h-96c-22.1 0-40-17.9-40-40v-24H44c-6.6 0-12 5.4-12 12v104c0 6.6 5.4 12 12 12h424c6.6 0 12-5.4 12-12V364z' class=''%3E%3C/path%3E%3C/svg%3E");
    background-position: top 30% center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    text-align: center;
}

.upload-file-container span {
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    vertical-align: middle;
}

.fs-11 {
    font-size: 11px;
}

/* Table */
.table {
    border-radius: 3px;
    overflow: hidden;
    background: rgba(0,0,0,.05);
}
.table thead th {
    background: #C4C4C4;
    font-size: 14px;
}